@{
    ViewData["Title"] = "Home Page";
    ViewBag.Title = "Index";
    Dictionary<string, object> resTemp = ViewBag.reservationTemp;
}

<p>
    @ViewData["value"]
</p>

@using (Html.BeginForm("Index","Home",FormMethod.Post))
{
    @foreach (var kvp in resTemp)
    {
        @Html.Label(kvp.Key);
        @Html.TextBox(kvp.Key);
        <br />
    }
    @Html.Label("Test");
    @Html.TextBox("Test");
    <br />

    <input type="submit" value="Create Reservation" />
}



