@using HotelManagementSystem_Module1.Domain.Models
@{
    ViewData["Title"] = "Create Reservation";
    ViewBag.Title = "Create Reservation";
    Dictionary<string, object> resTemp = Model;
    int guestid = ViewBag.guestid;
    string guestName = ViewBag.guestName;
    string[] roomType = { "Twin", "Double", "Family", "Suite" };
    SelectList roomList = new SelectList(roomType);
}

<div>
    <form asp-controller="ReservationCreation" asp-action="CreateReservation" method="post" id="createReservation" role="form">
        <formgroup>
            <label class="">Guest ID</label>
            <input class="form-control" id="editguestid" type="text" name="GuestId" value="@guestid" disabled="disabled" />
            <label class="">Guest Name</label>
            <input class="form-control" id="editguestname" type="text" name="FirstName" value="@guestName" disabled="disabled" />
            @foreach (var kvp in resTemp)
            {
                if (kvp.Key == "Room Type")
                {
                    @Html.Label(kvp.Key)
                    @Html.DropDownList(kvp.Key, roomList, "Twin", new { @class = "form-control" })
                }
                else
                {
                    @Html.Label(kvp.Key)
                    @Html.Editor(kvp.Key, "", new { @class = "form-control" })
                }
            }
            <br />
            <input type="submit" value="Create Reservation" form="createReservation"/>
        </formgroup>
    </form>
</div>