@using HotelManagementSystem_Module1.Domain.Models
@{
    ViewData["Title"] = "Create Reservation";
    ViewBag.Title = "Create Reservation";
    Dictionary<string, object> resTemp = Model;
    int guestid = ViewBag.guestid;
    string guestName = ViewBag.guestName;
    string[] roomType = { "Twin", "Double", "Family", "Suite" };
    SelectList roomList = new SelectList(roomType);
}

<div>
    <form asp-controller="ReservationCreation" asp-action="CreateReservation" method="post" id="createReservation" role="form">
        <input class="form-control" type="text" name="GuestId" value="@guestid" hidden="hidden" />
        <label class="">Guest Name</label>
        <input class="form-control" type="text" name="FirstName" value="@guestName" disabled="disabled" />

        @foreach (var kvp in resTemp)
        {
            if (kvp.Key == "Room Type")
            {
                @Html.Label(kvp.Key)
                @Html.DropDownList(kvp.Key, roomList, "Twin", new { @class = "form-control", name = "RoomType" })
            }
            else
            {
                @Html.Label(kvp.Key)
                @Html.Editor(kvp.Key, "", new { @class = "form-control", name = kvp.Value})
            }
        }
        <br />
        <input type="submit" value="Create Reservation" form="createReservation"/>
    </form>
</div>