@using HotelManagementSystem_Module1.Domain.Models
@{
    ViewData["Title"] = "Create Reservation";
    ViewBag.Title = "Create Reservation";
    Dictionary<string, object> resTemp = Model;
    int guestid = ViewBag.guestid;
    string guestName = ViewBag.guestName;
    string[] roomType = { "Twin", "Double", "Family", "Suite" };
    SelectList roomList = new SelectList(roomType);
}

@{
    string message = null;
    if (TempData["Message"] != null)
    {
        message = TempData["Message"].ToString();
        if (message.Contains("ERROR"))
        {
            <div class="alert alert-danger" role="alert">
                @message
            </div>
        }
    }
}

<div>
    <form asp-controller="ReservationCreation" asp-action="CreateReservation" method="post" id="createReservation" role="form">
        <input class="form-control" type="text" name="GuestId" value="@guestid" hidden="hidden" />
        <label class="">Guest Name</label>
        <input class="form-control" type="text" name="FirstName" value="@guestName" disabled="disabled" />
        <label class="">Check-In Date/Time</label>
        <input class="text-box single-line" data-val="true" data-val-required="The DateTime field is required." id="Check-In_Date_Time" name="Check-In Date/Time" type="datetime-local">
        <label class="">Check-Out Date/Time</label>
        <input class="text-box single-line" data-val="true" data-val-required="The DateTime field is required." id="Check-Out_Date_Time" name="Check-Out Date/Time" type="datetime-local">
        @foreach (var kvp in resTemp)
        {
            if (kvp.Key == "Room Type")
            {
                @Html.Label(kvp.Key)
                @Html.DropDownList(kvp.Key, roomList, "", new { @class = "form-control", name = "Room Type" })
            }
            if (kvp.Key != "Check-In Date/Time" && kvp.Key != "Check-Out Date/Time" && kvp.Key != "Room Type")
            {
                @Html.Label(kvp.Key)
                @Html.Editor(kvp.Key, "", new { @class = "form-control", name = kvp.Value })
            }
        }
        <br />
        <input type="submit" value="Create Reservation" form="createReservation" />
    </form>
</div>

<!--For Check in DateTime validation-->
<script>
    $(document).ready(function () {
        var ONE_DAY = 151200000;
        var elem = document.getElementById('Check-In_Date_Time');
        var minDate = new Date();
        minDate.setHours(0);
        minDate.setMinutes(0);
        var iso = new Date(minDate.valueOf() + ONE_DAY).toISOString();
        var minDateString = iso.substring(0, iso.length - 8);
        elem.value = minDateString;
        elem.min = minDateString;
    });
</script>
<!--For Check Out DateTime validation-->
<script>
    $(document).ready(function () {
        var TWO_DAY = 252000000;
        var elem = document.getElementById('Check-Out_Date_Time');
        var minDate = new Date();
        minDate.setHours(0);
        minDate.setMinutes(0);
        var iso = new Date(minDate.valueOf() + TWO_DAY).toISOString();
        var minDateString = iso.substring(0, iso.length - 8);
        elem.value = minDateString;
        elem.min = minDateString;
    });
</script>