using System.Web.Mvc.Html;
@{
    ViewData["Title"] = "Guest page";
}
<div class="text-center">
    <span class="display-4">Guest List</span>
</div>


<div class="limiter">
    <div class="">
        <div class="table-responsive text-nowrap">
            @{
                int count = 1;
                <table id="guesttb" class="table table-striped table-hover table-bordered" cellspacing="0">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Guest Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var g in Model)
                        {
                            <tr>
                                <td scope="row">@count</td>
                                <td>@g.FirstNameDetails()</td>
                                <td>@g.LastNameDetails()</td>
                                <td>@g.GuestTypeDetails()</td>
                                <td>
                                    @Html.ActionLink("Update Profile", "UpdateGuest")
                                    |  @Html.ActionLink("Delete Profile", "Delete")
                                </td>
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>
            }
        </div>
    
</div>
@{
    string createResult = null;
    if (TempData["CreateGuestMessage"] != null)
    {
        createResult = TempData["CreateGuestMessage"].ToString();
        if (createResult == "Success")
        {
            <div class="alert alert-success" role="alert">
                Successfully Created Guest
            </div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                Error Occured When Creating Guest
            </div>
        }
    }
}
@section Scripts {
    @{await Html.RenderPartialAsync("_DatatableScriptsPartial");
        <script type="text/javascript">
            $(document).ready(function () {
                $('#guesttb').DataTable();
                $('.dataTables_length').addClass('bs-select');
            });
        </script>
     }
}