@{
    ViewData["Title"] = "Reservation Management";

    Dictionary<string, object> resRecord = ViewBag.ResRecord;
    string guestName = ViewBag.GuestName;
    string guestEmail = ViewBag.GuestEmail;

    
    
}
<h1>@ViewData["Title"]</h1>

<form form asp-controller="ReservationManagement" asp-action="UpdateReservation" method="post" id="updateReservationForm" role="form">
    <div class="formdiv form-group">
        <input name="resID" type="number" value="@resRecord["resID"].ToString()" />
        <label class="">Guest Name</label>
        <input class="form-control" id="editguestname" type="text" name="FirstName" value="@guestName" disabled="disabled" />
        <label class="">Email</label>
        <input class=" form-control" id="editguestmail" type="text" name="Email" value="@guestEmail" disabled="disabled" />
        <label class="">Pax</label>
        <input class="text-box single-line" data-val="true" data-val-required="The Int32 field is required." id="Number_of_Guests" name="Number of Guests" type="number" value="@resRecord["numOfGuest"].ToString()" disabled="disabled">
        <label class="">Room Type</label>
        <input class="form-control" id="txtRoom" type="text" name="txtRoom" value="@resRecord["roomType"].ToString()" disabled="disabled" />
        <select class="form-control" id="Room_Type" name="Room Type" disabled="disabled" hidden>
            <!--<option value=""></option>-->
            <option selected>Double</option>
            <option>Twin</option>
            <option>Family</option>
            <option>Suite</option>
        </select>
        <label class="">Start Date</label>
        <input class="form-control" id="txtStart" type="text" name="txtStart" value="@resRecord["start"].ToString()" disabled="disabled" />
        <input class="text-box single-line" data-val="true" data-val-required="The DateTime field is required." id="Check-In_Date_Time" name="Check-In Date/Time" type="datetime-local" value="2021-03-04T10:00:00.000" hidden>
        <label class="">End Date</label>
        <input class="form-control" id="txtEnd" type="text" name="txtEnd" value="@resRecord["end"].ToString()" disabled="disabled" />
        <input class="text-box single-line" data-val="true" data-val-required="The DateTime field is required." id="Check-Out_Date_Time" name="Check-Out Date/Time" type="datetime-local" value="2021-03-04T10:00:00.000" hidden>
        <label class="">Remarks</label>
        <input class="text-box single-line" id="Remarks" name="Remarks" type="text" value="@resRecord["remark"].ToString()" disabled="disabled">
        <label class="">Promo Code</label>
        <input class=" form-control" type="text" id="PromoCode" name="PromoCode" value="@resRecord["promoCode"].ToString()" disabled="disabled" />
        <label class="">Price</label>
        <input class=" form-control" type="text" id="EditPrice" name="Price" value="@resRecord["price"].ToString()" disabled="disabled" />
        <label class="">Status</label>
        <input class="form-control" id="txtStatus" type="text" name="txtStatus" value="@resRecord["status"].ToString()" disabled="disabled" />
        <select class="form-control" id="Status" name="Status" disabled="disabled" hidden>
            <!--<option value=""></option>-->
            <option selected>Not Fulfilled</option>
            <option>Occupant</option>
            <option>Not Fulfilled(No Show)</option>
            <option>Cancelled</option>
            <option>Fulfilled</option>
        </select>
    </div>
    <div class="form-group">
        <input id="deleteres"
               class="btn btn-red"
               name="submit"
               type="submit"
               onclick="validatePIN()"
               value="Delete"
               form="updateReservationForm" />

        <input id="updateres"
               class="btn btn-primary"
             
               onclick="enableEdit()"
               value="Update"
               form="updateReservationForm" />

        <input id="confirmupdate"
               class="btn btn-success"
               type="submit"
               onclick="validatePIN()"
               value="Confirm Update"
               form="updateReservationForm" 
               hidden/>
        @*<button onclick="validatePIN()" type="submit" class="btn btn-red" id="deleteres" name="submit" value="Delete" form="updateReservationForm">Delete</button>*@
        @*<button onclick="enableEdit()" type="submit" class="btn btn-primary" id="submit" name="submit" value="Update" form="updateReservationForm">Update</button>*@
    </div>
</form>

<script>
    function enableEdit() {
        document.getElementById("Number_of_Guests").disabled = false;
        document.getElementById("Room_Type").disabled = false;
        //document.getElementById("Check-In_Date_Time").disabled = false;
        //document.getElementById("Check-Out_Date_Time").disabled = false;
        document.getElementById("Remarks").disabled = false;
        document.getElementById("Check-In_Date_Time").disabled = false;
        document.getElementById("PromoCode").disabled = false;
        document.getElementById("EditPrice").disabled = false;
        document.getElementById("Status").disabled = false;
        document.getElementById("confirmupdate").hidden = false;
        document.getElementById("updateres").hidden = true;
        document.getElementById("deleteres").hidden = true;

        document.getElementById("txtStatus").hidden = true;
        document.getElementById("txtStart").hidden = true;
        document.getElementById("txtEnd").hidden = true;
        document.getElementById("txtRoom").hidden = true;
        document.getElementById("Check-In_Date_Time").hidden = false;
        document.getElementById("Check-Out_Date_Time").hidden = false;
        document.getElementById("Room_Type").hidden = false;
        document.getElementById("Status").hidden = false;
        
    }

    function validatePIN() {
        var pinprompt = prompt("Please enter today's PIN", "0000");
        if (pinprompt == null || pinprompt !== "0000") {
            alert("Delete cancelled or PIN is wrong, please try again!");
        } else {
            alert("PIN successfully validated!");
        }
    }

</script>