@{
    ViewData["Title"] = "Reservation Management";

    Dictionary<string, object> resRecord = ViewBag.ResRecord;
    string guestName = ViewBag.GuestName;
    string guestEmail = ViewBag.GuestEmail;
    string[] resStatus = { "Unfulfilled", "Fulfilled", "Cancelled" };
    string[] roomType = { "Twin", "Double", "Family", "Suite" };
    var newStatusList = resStatus.Where(val => val != resRecord["status"].ToString()).ToArray();
    var newRoomTypeList = roomType.Where(val => val != resRecord["roomType"].ToString()).ToArray();
}

@{
    string message = null;
    if (TempData["Message"] != null)
    {
        message = TempData["Message"].ToString();
        if (message.Contains("ERROR"))
        {
            <div class="alert alert-danger" role="alert">
                @message
            </div>
        }
    }
}
<h1>@ViewData["Title"]</h1>

<form form asp-controller="ReservationManagement" asp-action="UpdateReservation" method="post" id="updateReservationForm" role="form">
    <div class="formdiv form-group">
        <label>Reservation Number</label>
        <input class="form-control" name="reservationId" type="number" value="@resRecord["resID"].ToString()" disabled="disabled" />
        <input name="resID" type="number" value="@resRecord["resID"].ToString()" hidden="hidden" />

        <label class="">Guest Name</label>
        <input class="form-control" id="editguestname" type="text" name="FirstName" value="@guestName" disabled="disabled" />

        <label class="">Email</label>
        <input class=" form-control" id="editguestmail" type="text" name="Email" value="@guestEmail" disabled="disabled" />

        <label class="">Pax</label>
        <input class="text-box single-line" data-val="true" data-val-required="The Int32 field is required." id="Number_of_Guests" name="Number of Guests" type="number" value="@resRecord["numOfGuest"].ToString()" disabled="disabled">

        <label class="">Room Type</label>
        <select class="form-control" id="Room_Type" name="Room Type" onchange="FillTextBox(this);" disabled="disabled">
            <option selected>@resRecord["roomType"].ToString()</option>
            @foreach (var type in newRoomTypeList)
            {
                <option value="@type">@type</option>
            }
        </select>

        <label class="">Start Date</label>
        <input class="form-control" id="txtStart" type="text" name="txtStart" value="@resRecord["start"].ToString()" disabled="disabled" />
        <input class="text-box single-line" data-val="true" data-val-required="The DateTime field is required." id="Check-In_Date_Time" name="Check-In Date/Time" type="datetime-local" hidden>

        <label class="">End Date</label>
        <input class="form-control" id="txtEnd" type="text" name="txtEnd" value="@resRecord["end"].ToString()" disabled="disabled" />
        <input class="text-box single-line" data-val="true" data-val-required="The DateTime field is required." id="Check-Out_Date_Time" name="Check-Out Date/Time" type="datetime-local" hidden>

        <label class="">Remarks</label>
        <input class="text-box single-line" id="Remarks" name="Remarks" type="text" value="@resRecord["remark"].ToString()" disabled="disabled">

        <label class="">Promo Code</label>
        <input class=" form-control" type="text" id="PromoCode" name="PromoCode" value="@resRecord["promoCode"].ToString()" disabled="disabled" />

        <label class="">Price</label>
        <input class=" form-control" type="text" id="EditPrice" name="Price" value="@resRecord["price"].ToString()" disabled="disabled" />

        <label class="">Status</label>

        <select class="form-control" id="Status" name="Status" disabled="disabled">
            <option selected>@resRecord["status"].ToString()</option>
            @foreach (var status in newStatusList)
            {
                <option value="@status">@status</option>
            }
        </select>

        <label class="" id="PINtext" name="PINtext" hidden="hidden">PIN</label>
        <input class=" form-control" type="text" id="PIN" name="PIN" value="" disabled="disabled" hidden="hidden"/>

    </div>
    <div class="form-group">
        @using (Html.BeginForm("Export", "ReservationManagement", FormMethod.Post))
        {
            <input type="hidden" name="ExportData" />
            <input type="button" id="btnSubmit" value="Export" />
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script type="text/javascript">
                $(function () {
                    $("#btnSubmit").click(function () {
                        $("input[name='ExportData']").val($("#PrintPDF").html());
                    });
                });
            </script>

        }
    </div>
    <div class="form-group">
        @if (@resRecord["status"].ToString() == "Cancelled")
        {
            <input id="deleteres"
                   class="btn btn-danger"
                   name="submit"
                   type="submit"
                   value="Delete"
                   form="updateReservationForm" />
        }

        else
        {
            <input id="updateres"
                   class="btn btn-primary"
                   onclick="enableEdit()"
                   value="Update"
                   form="updateReservationForm" />
            <input id="confirmupdate"
                   class="btn btn-success"
                   type="submit"
                   value="Confirm Update"
                   form="updateReservationForm"
                   hidden />


        }


    </div>
</form>
<div id="PrintPDF" hidden>
    <h5><small>Guest Name: </small>@guestName</h5>
    <h5><small>Guest Email: </small>@guestEmail</h5>
    <h5><small>id: </small>@resRecord["resID"].ToString()</h5>
    <h5><small>1: </small>@resRecord["numOfGuest"].ToString()</h5>

</div>
<!--For Check in DateTime validation-->
<script>
    $(document).ready(function () {
        var ONE_DAY = 151200000;
        var elem = document.getElementById('Check-In_Date_Time');
        var minDate = new Date();
        minDate.setHours(0);
        minDate.setMinutes(0);
        var iso = new Date(minDate.valueOf() + ONE_DAY).toISOString();
        var minDateString = iso.substring(0, iso.length - 8);
        elem.value = minDateString;
        elem.min = minDateString;
    });
</script>
<!--For Check Out DateTime validation-->
<script>
    $(document).ready(function () {
        var TWO_DAY = 252000000;
        var elem = document.getElementById('Check-Out_Date_Time');
        var minDate = new Date();
        minDate.setHours(0);
        minDate.setMinutes(0);
        var iso = new Date(minDate.valueOf() + TWO_DAY).toISOString();
        var minDateString = iso.substring(0, iso.length - 8);
        elem.value = minDateString;
        elem.min = minDateString;
    });
</script>

<!--Link room type to pax-->
<script language="javascript">
    function FillTextBox(dropdown) {
        var textbox = document.getElementById('Number_of_Guests');
        //alert(dropdown.options[dropdown.selectedIndex]);
        var ddlvalue = dropdown.options[dropdown.selectedIndex].value;
        if (ddlvalue == "double" || ddlvalue == "twin") {
            textbox.value = 2;
        }
        if (ddlvalue == "family") {
            textbox.value = 4;
        }
        if (ddlvalue == "suite") {
            textbox.value = 5;
        }  
    }

</script>

<script>
    function enableEdit() {
        document.getElementById("Number_of_Guests").disabled = false;
        document.getElementById("Room_Type").disabled = false;
        document.getElementById("Remarks").disabled = false;
        document.getElementById("Check-In_Date_Time").disabled = false;
        document.getElementById("PromoCode").disabled = false;
        document.getElementById("Status").disabled = false;
        document.getElementById("confirmupdate").hidden = false;
        document.getElementById("updateres").hidden = true;
        document.getElementById("PIN").disabled = false;
        document.getElementById("PIN").hidden = false;
        document.getElementById("PINtext").hidden = false;

        document.getElementById("txtStart").hidden = true;
        document.getElementById("txtEnd").hidden = true;
        document.getElementById("Check-In_Date_Time").hidden = false;
        document.getElementById("Check-Out_Date_Time").hidden = false;

    }


</script>