@{
    ViewData["Title"] = "Facility reservation";
    Dictionary<int, string> namefacilityList = ViewBag.namefacilityList;
    Dictionary<int, string> existguestList = ViewBag.existguestList;
}

<div class="text-center">
    <h1 class="display-4">Facility reservation List</h1>
</div>
<div>
    @{
        int count = 1;
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Reservee ID</th>
                    <th scope="col">Facility ID</th>
                    <th scope="col">Number of Pax</th>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var g in Model)
                {
                    <tr>
                        <th scope="row">@count</th>
                        <td>@existguestList[g.ReserveeIdDetails()]</td>
                        <td>@namefacilityList[g.FacilityIdDetails()]</td>
                        <td>@g.NumberOfPax()</td>
                        <td>@g.StartTimeDetails()</td>
                        <td>@g.EndTimeDetails()</td>
                        <td>
                            @*<button class="btn"><i>edit</i></button>*@
                            @Html.ActionLink("Edit", // <-- Link text
                                  "UpdateFacilityReservation", // <-- Action Method Name
                                  "FacilityReservation", // <-- Controller Name
                                  new
                                       {
                                           selectedFacResId = g.ReservationIdDetails(),
                                      selectedGusResId = g.ReserveeIdDetails()
                                  }, // <-- Route value
                                  null // <-- htmlArguments
                                  )
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    }
</div>
@{
    string createResult = null;
    if (TempData["Message"] != null)
    {
        createResult = TempData["Message"].ToString();
      
            <div class="alert alert-success" role="alert">
                @createResult
            </div>
       }
}