@{
    Dictionary<int, string> namefacilityList = ViewBag.namefacilityList;
    Dictionary<int, string> existguestList = ViewBag.existguestList;
    Dictionary<string, string> currentRecord = ViewBag.currentRecord;
}

<div class="">
    <h4>Update Facility Reservation</h4>
    @if (ViewData["Message"] != null)
    {
        <div>success!</div>
    }
    else
    {
        <form asp-controller="FacilityReservation" asp-action="UpdateFacilityReservation" method="post" id="updateFacilityReservationForm" role="form" class="form form-horizontal">
            <div class="formdiv form-group">
                <label class="">Guest Name</label>
                <select id="guestId" name="guestId" class="form-select form-control" disabled="disabled">
                    @foreach (var item in existguestList)
                    {
                        if (@currentRecord["ReserveeId"] == item.Key.ToString())
                        {
                            <option value="@item.Key" selected>@item.Value</option>
                        }
                    }
                </select>
            </div>
            <div class="formdiv form-group">
                <label class="">Facility</label>
                <select id="facilityType" name="facilityType" class="form-select form-control" disabled="disabled">
                    @foreach (var item in namefacilityList)
                    {
                        if (@currentRecord["FacilityId"] == item.Key.ToString())
                        {
                            <option value="@item.Key" selected>@item.Value</option>
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    }
                </select>
            </div>
            <div class="formdiv form-group">
                <label class="">Pax</label>
                <select id="pax" name="Pax" class="form-select form-control">
                    @for (var i = 1; i < 9; i++)
                        if (@currentRecord["Pax"] == @i.ToString())
                        {
                            <option value="@i" selected>@i</option>
                        }
                        else
                        {
                            <option value=@i>@i</option>
                        }
                </select>
            </div>
            <div class="formdiv form-group">
                <label class="">Start Time</label>
                <input class="form-control" type="hidden" value="@currentRecord["ReservationId"]" name="reservationId" />
                <input type="date" id="startTime" value="@currentRecord["StartTime"]" min="@currentRecord["StartTime"]" name="startTime" />
                <input class="form-control" type="hidden" id="selectedGusResID" name="selectedGusResID" value="@currentRecord["SGID"]"/>
                <input class="form-control" type="hidden" id="selectedFacResId" name="selectedFacResId" value="@currentRecord["SFID"]"/>
                <button type="button" class="btn btn-cyan" onclick="GetData(startTime.value, facilityType.value, pax.value)">Search Available Slot</button>
            </div>
            <div class="formdiv form-group" id="availableDropDownList">
                <label class="">Choose your timing: </label>
                <select id="hourSelected" name="hourSelected" class="form-select form-control">
                </select>
            </div>
            <div class="formdiv form-group">
                <label class="">Secret Pin</label>
                <input class="form-control" type="password" id="secretpin" name="secretpin" placeholder="Enter Secret Pin">
                <br>
                <button type="submit" class="btn btn-secondary" id="submit" name="submit" value="Update" form="updateFacilityReservationForm">Update</button>
            </div>
        </form>
    }
</div>
@{
    string createResult = null;
    if (TempData["Message"] != null)
    {
        createResult = TempData["Message"].ToString();

        <div class="alert alert-warning" role="alert">
            @createResult
        </div>
    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript">
        $(document).ready(function () {
           
            $("#updateFacilityReservationForm").validate({
                rules: {
                    guestId: "required",
                    facilityType: {
                        required: true
                    },
                    pax: {
                        required: true
                    },
                    startTime: {
                        required: true,
                    },
                    endTime: {
                        required: true,
                    },
                    secretpin: {
                        required: true,
                    },
                    hourSelected: {
                        required: true,
                    }
                },
                messages: {
                    guestId: "Please enter the guest name",
                    facilityType: {
                        required: "Please select a guest type"
                    },
                    pax: "Please enter a valid email address",
                    startTime: {
                        required: "Please provide a date",
                    },
                    endTime: {
                        required: "Please provide a date",
                    },
                    secretpin: {
                        required: "Please enter a secret pin",
                    },
                    hourSelected: {
                        required: "Please select a time slot",
                    }
                },
                errorElement: "em",
                errorPlacement: function (error, element) {
                    // Add the `help-block` class to the error element
                    error.addClass("help-block");

                    if (element.prop("type") === "checkbox") {
                        error.insertAfter(element.parent("label"));
                    } else {
                        error.insertAfter(element);
                    }
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).parents(".formdiv").addClass("has-error").removeClass("has-success");
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).parents(".formdiv").addClass("has-success").removeClass("has-error");
                }
            });
        });
        $.validator.setDefaults({
            submitHandler: function () {
                form.submit();
            }
        });
    function GetData(inputDateValue, inputFacValue, pax) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("CheckAvailableDate", "FacilityReservation")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(inputDateValue + ","+ inputFacValue),
            dataType: "json",
            success: function (response) {
                var select = document.getElementById("hourSelected");
                var len = document.getElementById("hourSelected").length;
                var i;
                // Element Exists.
                for (i = 0; i < len; i++) {
                    select.remove(0);
                }

                var select = document.getElementById("hourSelected");

                var updatestart = parseInt(response.start);

                for (i = updatestart; i < 24; i++) {
                    var option = document.createElement("option");
                    timing = i * 100
                    option.value = i
                    if (i == 8) {
                        if (parseInt(response.ts800) == 0 || pax > parseInt(response.ts800)) {
                            option.disabled = true
                        }
                        option.text = "0" + timing + " (" + response.ts800 + ")"
                        option.value = option.value + "," + response.ts800
                    } else if (i == 9) {
                        if (parseInt(response.ts900) == 0 || pax > parseInt(response.ts900)) {
                            option.disabled = true
                        }
                        option.text = "0" + timing + " (" + response.ts900 + ")"
                        option.value = option.value + "," + response.ts900
                    } else if (i == 10) {
                        if (parseInt(response.ts1000) == 0 || pax > parseInt(response.ts1000)) {
                            option.disabled = true
                        }
                        option.text = timing + " (" + response.ts1000 + ")"
                        option.value = option.value + "," + response.ts1000
                    } else if (i == 11) {
                        if (parseInt(response.ts1100) == 0 || pax > parseInt(response.ts1100)) {
                            option.disabled = true
                        }
                        option.text = timing + " (" + response.ts1100 + ")"
                        option.value = option.value + "," + response.ts1100
                    } else if (i == 12) {
                        if (parseInt(response.ts1200) == 0 || pax > parseInt(response.ts1200)) {
                            option.disabled = true
                        }
                        option.text = timing + " (" + response.ts1200 + ")"
                        option.value = option.value + "," + response.ts1200
                    } else if (i == 13) {
                        if (parseInt(response.ts1300) == 0 || pax > parseInt(response.ts1300)) {
                            option.disabled = true
                        }
                        option.text = timing + " (" + response.ts1300 + ")"
                        option.value = option.value + "," + response.ts1300
                    } else if (i == 14) {
                        if (parseInt(response.ts1400) == 0 || pax > parseInt(response.ts1400)) {
                            option.disabled = true
                        }
                        option.text = timing + " (" + response.ts1400 + ")"
                        option.value = option.value + "," + response.ts1400
                    } else if (i == 15) {
                        if (parseInt(response.ts1500) == 0 || pax > parseInt(response.ts1500)) {
                            option.disabled = true
                        }
                        option.text = timing + " (" + response.ts1500 + ")"
                        option.value = option.value + "," + response.ts1500
                    } else if (i == 16) {
                        if (parseInt(response.ts1600) == 0 || pax > parseInt(response.ts1600)) {
                            option.disabled = true
                        }
                        option.text = timing + " (" + response.ts1600 + ")"
                        option.value = option.value + "," + response.ts1600
                    } else if (i == 17) {
                        if (parseInt(response.ts1700) == 0 || pax > parseInt(response.ts1700)) {
                            option.disabled = true
                        }
                        option.text = timing + " (" + response.ts1700 + ")"
                        option.value = option.value + "," + response.ts1700
                    } else if (i == 18) {
                        if (parseInt(response.ts1800) == 0 || pax > parseInt(response.ts1800)) {
                            option.disabled = true
                        }
                        option.text = timing + " (" + response.ts1800 + ")"
                        option.value = option.value + "," + response.ts1800
                    } else if (i == 19) {
                        if (parseInt(response.ts1900) == 0 || pax > parseInt(response.ts1900)) {
                            option.disabled = true
                        }
                        option.text = timing + " (" + response.ts1900 + ")"
                        option.value = option.value + "," + response.ts1900
                    } else if (i == 20) {
                        if (parseInt(response.ts2000) == 0 || pax > parseInt(response.ts2000)) {
                            option.disabled = true
                        }
                        option.text = timing + " (" + response.ts2000 + ")"
                        option.value = option.value + "," + response.ts2000
                    } else if (i == 21) {
                        if (parseInt(response.ts2100) == 0 || pax > parseInt(response.ts2100)) {
                            option.disabled = true
                        }
                        option.text = timing + " (" + response.ts2100 + ")"
                        option.value = option.value + "," + response.ts2100
                    } else if (i == 22) {
                        if (parseInt(response.ts2200) == 0 || pax > parseInt(response.ts2200)) {
                            option.disabled = true
                        }
                        option.text = timing + " (" + response.ts2200 + ")"
                        option.value = option.value + "," + response.ts2200
                    } else if (i == 23) {
                        if (parseInt(response.ts2300) == 0 || pax > parseInt(response.ts2300)) {
                            option.disabled = true
                        }
                        option.text = timing + " (" + response.ts2300 + ")"
                        option.value = option.value + "," + response.ts2300
                    }
                    select.add(option)
                }

            },
            error: function () {
                alert("Error while inserting data");
            }
        });
        e.preventDefault();
    }
    </script>
}
