@{

    ViewData["Title"] = "Create Reservation";
    ViewBag.Title = "Create Reservation";
    string submitted = ViewData["form"] as string;
    Dictionary<string, object> resTemp = ViewBag.reservationTemp;
    Dictionary<string, object> reservation = ViewData["value"] as Dictionary<string, object>;

    string[] resData = { "Number of Guests", "Room Type", "Check-In Date/Time", "Check-Out Date/Time", "Remarks", "Modified", "Promotion Code", "Price", "Status" };
    string[] roomType = { "Double", "Queen", "Family", "Suite" };
    string[] guestName = {"Wong Ah Kow","Kendrick Wee"};

    SelectList roomList = new SelectList(roomType);
    SelectList guestList = new SelectList(guestName);


}






    @using (Html.BeginForm("CreateReservation", "Reservation", FormMethod.Post))

        
    {
<div>
    <h2><button type="button" class="btn btn-success" onclick="window.location= '@Url.Action( "ReservationView", "Reservation")'">View Reservations</button></h2>
    @if(submitted=="post"){
        <h3 style="color:green">Reservation has been inserted into the database.</h3>
    }
    
    <form>
        <formgroup>
           
            @foreach (var kvp in resTemp)
            {

                if (kvp.Key == "Room Type")
                {
                    @Html.Label(kvp.Key)
                    @Html.DropDownList(kvp.Key, roomList, "", new { @class = "form-control" })
                }
                else if (kvp.Key == "Guest Name")
                {
                    @Html.Label(kvp.Key)
                    @Html.DropDownList(kvp.Key, guestList, "", new { @class = "form-control" })
                }
                else
                {
                    @Html.Label(kvp.Key)
                    @Html.Editor(kvp.Key, "", new { @class = "form-control" })
                }




            }

            <br />

            <input type="submit" value="Create Reservation" />
        </formgroup>

    </form>
</div>
    }
