@using HotelManagementSystem_Module1.Domain.Models
@{
    ViewData["Title"] = "Create Reservation";
    ViewBag.Title = "Create Reservation";
    Dictionary<string, object> resTemp = ViewBag.reservationTemp;
    List<string> guestNameList = ViewBag.guestName;
    string[] roomType = { "Double", "Queen", "Family", "Suite" };
    SelectList roomList = new SelectList(roomType);
    SelectList guestList = new SelectList(guestNameList);
}

@using (Html.BeginForm("CreateReservation", "Reservation", FormMethod.Post))
{
    <div>
        <h2><button type="button" class="btn btn-success" onclick="window.location= '@Url.Action( "ReservationView", "Reservation")'">View Reservations</button></h2>
        <form>
            <formgroup>
                @foreach (var kvp in resTemp)
                {
                    if (kvp.Key == "Room Type")
                    {
                        @Html.Label(kvp.Key)
                        @Html.DropDownList(kvp.Key, roomList, "", new { @class = "form-control" })
                    }
                    else if (kvp.Key == "Guest Name")
                    {
                        @Html.Label(kvp.Key)
                        @Html.DropDownList(kvp.Key, guestList, "", new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.Label(kvp.Key)
                        @Html.Editor(kvp.Key, "", new { @class = "form-control" })
                    }
                }
                <br />
                <input type="submit" value="Create Reservation" />
            </formgroup>
        </form>
    </div>
}
