@using HotelManagementSystem_Module1.Domain.Models
@using System.Collections
@{
    ViewData["Title"] = "Guest Records";
    ViewBag.Title = "Guest Records";
    string guestName = ViewBag.GuestName;
    string guestEmail = ViewBag.GuestEmail;
    ArrayList mainList = ViewBag.mainList;
}

<div class="text-center">
    <span class="display-4">@guestName Reservation Record(s)</span>
</div>

<div class="text-nowrap">
    <table id="recordstb" class="table table-bordered" cellspacing="0" width="100%">
        <thead class="thead-dark">
            <tr>
                <th>Reservation ID</th>
                <th>Guest Name</th>
                <th>Guest Email</th>
                <th>No. of Guest</th>
                <th>Room Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Last Modified</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (String[] data in mainList)
            {
                <tr>
                    <td>@data[0]</td>
                    <td>@guestName</td>
                    <td>@guestEmail</td>
                    <td>@data[1]</td>
                    <td>@data[2]</td>
                    <td>@data[3]</td>
                    <td>@data[4]</td>
                    <td>@data[5]</td>
                    <td>@data[6]</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_DatatableScriptsPartial");
        <script type="text/javascript">
            $(document).ready(function () {
                $('#recordstb').DataTable({
                    "scrollX": true,
                    "scrollY": "70vh",
                    "scrollCollapse": true
                });
                $('.dataTables_length').addClass('bs-select');
            });
        </script>
    }
}
