@using HotelManagementSystem_Module1.Domain.Models
@{

    ViewData["Title"] = "Reservation";
    ViewBag.Title = "Reservation";
    IEnumerable<Reservation> reservationList = ViewBag.reservationList;
}

@foreach (var item in reservationList)
{
<tr>
    <td>
        @item.GetReservation()["resID"];
    </td>
    <td>
        @item.GetReservation()["guestID"];
    </td>
    <td>
        @item.GetReservation()["numOfGuest"];
    </td>
    <td>
        @item.GetReservation()["roomType"];
    </td>
    <td>
        @item.GetReservation()["start"];
    </td>
    <td>
        @item.GetReservation()["end"];
    </td>
    <td>
        @item.GetReservation()["modified"];
    </td>
    <td>
        @item.GetReservation()["status"];
    </td>
</tr>
}