@using HotelManagementSystem_Module1.Domain.Models
@using System.Collections
@{
    ViewData["Title"] = "Reservation";
    ViewBag.Title = "Reservation";
    ArrayList mainList = ViewBag.mainList;
    IEnumerable<Guest> guestList = ViewBag.guestList as IEnumerable<Guest>;

    int flag = ViewBag.flag;
    int guestId = 0;
    string guestName = "";
    string guestEmail = "";
    string guestType = "";
    string guestPassport = "";
    string[] resStatus = { "Not Fulfilled", "Occupant", "Fulfilled", "Cancelled", "Not Fulfilled (No Show)" };

    if (flag == 0)
    {
        guestId = ViewBag.GuestId;
        guestName = ViewBag.GuestName;
        guestEmail = ViewBag.GuestEmail;
        guestType = ViewBag.GuestType;
        guestPassport = ViewBag.GuestPassport;
    }
}

@{
    string message = null;
    if (TempData["Message"] != null)
    {
        message = TempData["Message"].ToString();
        if (message.Contains("ERROR"))
        {
            <div class="alert alert-danger" role="alert">
                @message
            </div>
        }
        else
        {
            <div class="alert alert-danger" role="success">
                @message
            </div>
        }
    }
}

@if (flag == 1)
{
    <div class="text-center">
        <span class="h4">All Existing Guest Reservations</span>
    </div>
}
else if (flag == 0)
{
    <div class="text-center">
        <span class="h1">Reservation Record(s)</span>
    </div>

    <!-- Start of Guest Profile Card -->
    <div class="flex-center">
        <div class="col-md-4">
            <div class="card guestProfileCard">
                <div class="background-block">
                    <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-background" class="background" />
                </div>
                <div class="profile-thumb-block">
                    <img src="https://assets.stickpng.com/thumbs/585e4beacb11b227491c3399.png" alt="profile-image" class="profile" />
                </div>
                <div class="card-content">
                    <h5><small>Guest Name: </small>@guestName</h5>
                    <h5><small>Guest Email: </small>@guestEmail</h5>
                    <h5><small>Guest Type: </small>@guestType</h5>
                    <h5><small>Guest Passport No.: </small>@guestPassport</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Guest Profile Card -->
}

<div class="text-nowrap">
    @if (flag == 0)
    {
        <form asp-controller="ReservationManagement" asp-action="UpdateReservationStatus" method="post" id="updateReservationStatus" role="form">
            <table id="reservationtb" class="table table-bordered" cellspacing="0" width="100%">
                <thead class="thead-dark">
                    <tr>
                        <th>Reservation ID</th>
                        <th>No. of Guest</th>
                        <th>Room Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Last Modified</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (String[] data in mainList)
                    {
                        resStatus = resStatus.Where(val => val != data[6]).ToArray();
                        SelectList statusList = new SelectList(resStatus);

                    <tr>
                        @Html.Hidden("resId", data[0])
                        <td>
                            <a href="@Url.Action("UpdateReservation", "ReservationManagement", new {resId = data[0]})">
                                @data[0]
                            </a>
                        </td>
                        <td>@data[1]</td>
                        <td>@data[2]</td>
                        <td>@data[3]</td>
                        <td>@data[4]</td>
                        <td>@data[5]</td>
                        <td>
                            @Html.DropDownList("Status", statusList, data[6], new { resId = data[0], @class = "form-control", name = "Status", @onchange = "submitForm();" })
                        </td>
                        <td>
                            <a href="@Url.Action("UpdateReservation", "ReservationManagement", new {resId = data[0]})"><i class="far fa-eye"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </form>
    }
    else if (flag == 1)
    {
        <table id="reservationtb" class="table table-bordered" cellspacing="0" width="100%">
            <thead class="thead-dark">
                <tr>
                    <th>Reservation ID</th>
                    <th>Guest Name / Email</th>
                    <th>No. of Guest</th>
                    <th>Room Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (string[] data in mainList)
                {
                    <tr>
                        <td style="text-decoration: underline">
                            <a href="@Url.Action("UpdateReservation", "ReservationManagement", new {resId = data[0]})">
                                <b>@data[0]</b>
                            </a>
                        </td>
                        <td style="text-decoration: underline">
                            <a href="@Url.Action("ReservationView", "Reservation", new {GuestId = data[1]})">
                                <b>
                                    @data[2] / <br />
                                    @data[3]
                                </b>
                            </a>
                        </td>
                        <td>@data[4]</td>
                        <td>@data[5]</td>
                        <td>@data[6]</td>
                        <td>@data[7]</td>
                        <td>@data[8]</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@if (flag == 0)
{
    <input class="btn btn-primary" style="width:300px;" type="submit" value="Create Reservation for @guestName"
           onclick="window.location= '@Url.Action( "CreateReservation", "ReservationCreation", new { GuestId=@guestId })'" />
}
else if (flag == 1)
{
    <input class="btn btn-primary" style="width:300px;" type="submit" value="Create Reservation"
           onclick="window.location= '@Url.Action( "Index", "Guest", new { selectGuest="yes" })'" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_DatatableScriptsPartial");
        <script type="text/javascript">
            $(document).ready(function () {
                $('#reservationtb').DataTable({
                    "scrollX": true,
                    "scrollY": "70vh",
                    "scrollCollapse": true
                });
                $('.dataTables_length').addClass('bs-select');
            });
        </script>
    }
    <script>
        function submitForm()
        {
            var pinPrompt = prompt("Please enter today's PIN", "0000");
            if (pinPrompt == null || pinPrompt != 0000) {
                alert("PIN is invalid, please try again!");
            } else {
                alert("PIN successfully validated!");
                $('#updateReservationStatus').submit();
            }
        }
    </script>
}

<style>
    /*Guest Profile Card*/
    .guestProfileCard {
        font-family: "Roboto", sans-serif;
        position: relative;
        float: top;
        overflow: hidden;
        width: 100%;
        text-align: center;
        height: 368px;
        border: none;
    }

        .guestProfileCard .background-block {
            float: left;
            width: 100%;
            height: 200px;
            overflow: hidden;
        }

            .guestProfileCard .background-block .background {
                width: 100%;
                vertical-align: top;
                opacity: 0.9;
                -webkit-filter: blur(0.5px);
                filter: blur(0.5px);
                -webkit-transform: scale(1.8);
                transform: scale(2.8);
            }

        .guestProfileCard .card-content {
            width: 100%;
            padding: 15px 25px;
            color: #232323;
            float: left;
            background: #efefef;
            height: 50%;
            border-radius: 0 0 5px 5px;
            position: relative;
            z-index: 9999;
        }

            .guestProfileCard .card-content::before {
                content: '';
                background: #efefef;
                width: 120%;
                height: 100%;
                left: 11px;
                bottom: 51px;
                position: absolute;
                z-index: -1;
                transform: rotate(-13deg);
            }

        .guestProfileCard .profile {
            border-radius: 50%;
            position: absolute;
            bottom: 50%;
            left: 50%;
            max-width: 100px;
            opacity: 1;
            box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
            border: 2px solid rgba(255, 255, 255, 1);
            -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
            z-index: 99999;
        }
</style>