@using HotelManagementSystem_Module1.Domain.Models
@{
    
    ViewData["Title"] = "Reservation";
    ViewBag.Title = "Reservation";
    IEnumerable<Reservation> reservationList = ViewBag.reservationList;
}

<h2> All Reservation </h2>

<div id="dvData">
    <table class="table table-striped table-bordered table-hover responsive">
        <thead class="thin-border-bottom">
        <tr>
            <th>Reservation ID</th>
            <th>Guest ID</th>
            <th>Pax</th>
            <th>Room Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Remark</th>
            <th>PromoCode</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
        </thead>
        @foreach (var item in reservationList)
        {
            <tr>
                <td>
                    @item.GetReservation()["resID"];
                </td>
                <td>
                    @item.GetReservation()["guestID"];
                </td>
                <td>
                    @item.GetReservation()["numOfGuest"];
                </td>
                <td>
                    @item.GetReservation()["roomType"];
                </td>
                <td>
                    @item.GetReservation()["start"];
                </td>
                <td>
                    @item.GetReservation()["end"];
                </td>
                <td>
                    @item.GetReservation()["modified"];
                </td>
                <td>
                    @item.GetReservation()["status"];
                </td>
            </tr>
        }
    </table>
</div>
